body {
    margin: 2rem;

}

.control_group {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.textarea_group {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
textarea {
    width: 10rem;
    height: 10rem;
}

.check_group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 60%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

}

*:required {
    /* box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem gray; */
    border: 1px solid red;
    color: crimson;
}

input[type="checkbox"] {
    color: green;
}